*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: relative;
}
.container1 {
  width: 95%;
  margin: auto;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
}
.phone {
  font-size: 1.4em;
  background-color: #14b6d3;
  width: 20%;
  color: white;
  text-align: end;
  font-size: 1.4em;
  height: 2.5rem;
}

.phone span {
  font-weight: 600;
  color: white;
}

.mail {
  font-size: 1.4em;
  background-color: rgb(128, 128, 128);
  width: 80%;
  font-weight: 600;
  color: white;
  text-align: end;
  justify-content: center;
  padding-right: 2%;
  height: 2.5rem;
}

nav {
  width: 95%;
  margin: auto;
  display: flex;
}

nav ul {
  width: 100%;
  align-items: flex-end;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
nav img {
  height: 60%;
  width: 5%;
}

.logo {
  font-size: 1.5rem;
}

nav ul li {
  padding-left: 2%;
  font-size: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
.carousel-item {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 2;
  width: 100%;
}
.overlay2 {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}
#myCarousel {
  width: 95%;
  margin: auto;
}
.liner {
  position: absolute;
  background-color: white;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 5%;
  border-top: solid black 2px;
  margin-top: -7%;
}

.part-1 {
  padding-left: 10%;
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 7%;
  color: white;
  font-weight: 400;
  position: absolute;
}
.part-2 {
  padding-left: 10%;
  font-size: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15%;
  color: #14b6d3;
  font-weight: 600;
  position: absolute;
}

.part1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 3%;
  width: 94%;
  margin-top: 10px;
  margin-bottom: 5%;
  box-shadow: 10px 10px 10px #888888;
}
.part1 img {
  max-width: 100%;
  height: 46vh;
 
}
.timings {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-left: 4%;
}

.timings h1 {
  padding-bottom: 7%;
  padding-top: 10%;
  font-weight: 700;
}
.timings h4 {
  border-bottom: solid 0.5px black;
  margin-right: 4%;
  padding-bottom: 5%;
}
.diffspan span {
  padding-left: 25%;
}
.normspan span {
  padding-left: 44.5%;
}
.form {
  width: 100%;
  background-color: #14b6d3;
}

form {
  justify-content: center;
  text-align: center;
  padding-top: 5%;
}

.form h1 {
  padding-top: 10%;
  padding-left: 8%;
  color: white;
  font-weight: 700;
}

#formname,
#formnumber,
#formemail {
  border-radius: 30px;
  height: 3rem;
  width: 40%;
  margin-bottom: 5%;
  padding-left: 20px;
}
#formsubmit {
  background-color: #f79e02;
  font-size: 1.5rem;
  color: white;
  font-weight: 750;
  border-radius: 30px;
  height: 3rem;
  width: 40%;
  margin-bottom: 5%;
  padding-left: 10px;
}

.part2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 85%;
  margin-left: 7.5%;
  margin-bottom: 5%;
}

.features-text {
  box-sizing: border-box;

  box-shadow: 10px 10px 10px #888888;
}

.features-text h1,
p,
h3 {
  padding-bottom: 35px;
  padding-right: 20px;
}
.special-features {
  display: flex;
}
.video{
  padding:5px 0 5px 0;
}
.half1,
.half2 {
  padding-bottom: 10px;
}
.half1 {
  padding: 0 150px 0 10px;
}

.part3 {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.part3features {
  display: flex;
  height: 40vh;
}

.part3 img {
  width: 100%;
  height: 80%;
}

.whyus {
  box-shadow: solid black 10px;
  height: 80%;
  padding-left: 5%;
  padding-top: 7%;
  background-color: rgb(36, 29, 83);
  color: white;
  height: 75%;
  margin-top:2%;
  margin-left: -7%;
  box-shadow: 10px 10px 10px #888888;
}

.part4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 90%;
  margin: auto;
  text-align: center;
  height: 30vh;
  margin-bottom: 5%;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  padding-top: 10%;
  width: 100%;
  background-color: #14b6d3;
  color: white;
}

.part5 {
  text-align: center;
  width: 90%;
  margin: AUTO;
  margin-bottom: 5%;
}

.part5 h1 {
  border-bottom: solid 6px #14b6d3;
}
.part5 p {
  padding-top: 25px;
  border-bottom: solid 3px #14b6d3;
}

.dentist1,
.dentist2,
.dentist3 {
  box-sizing: border-box;

  box-shadow: 10px 10px 10px #888888;
}
.dentist1 h5,
.dentist2 h5,
.dentist3 h5 {
  color: #14b6d3;
  font-weight: 600;
}
.part6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  height: 45vh;
  grid-gap: 10px;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 5%;
}

.part7 {
  display: grid;
  grid-template-areas: "info info test1 test2";
  grid-gap: 20px 10px;
  /* grid-template-rows:repeat(2,1fr); */
  background: url("./utilities/family.jpg");
  background-position-x: 40%;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 90%;
  margin: auto;
  height: 65vh;
  opacity: 0.9;
}
.overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  overflow: hidden;
}
.infotestimonial {
  position: absolute;
  grid-area: info;
  margin: 5% 0 0 5%;
  padding-left: 2%;
  font-weight: 900;
  color: white;
  box-shadow:  10px 10px white;
}

.part8 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
  width: 85%;
  height: 40vh;
  margin: 5% 0 10% 10%;
  position: relative;
}

.part8 img {
  width: 68%;
  height: 85%;
}
.moreinfo {
  margin-left: 10%;
  box-shadow: 10px 10px 10px #888888;
  height: 85%;
  padding: 5% 0 0 10%;
}

.moreinfo h1,
h4,
h5 {
  padding-top: 5%;
}

.part8 h4 {
  color: #14b6d3;
}

.part9 {
  margin: 20% 0 5% 5%;
  
  width: 90%;
  height: 60vh;
  background-image: url(./utilities/dentist5.jpg);
  background-size: cover;
  position: relative;
  opacity: 0.7;

}
.part9 button{
  height:2.5rem;
  width:15rem;
  border-radius:15px;
  background-color: #f79e02;
  color:white;
  font-weight: 600;
}
.care {
  margin: 10% 0 0 4%;
  padding: 2% 0 0 2%;
  width: 45%;
  height: 55%;
  background-color: white;
  position: absolute;
  box-shadow: 10px 10px 10px #888888;
}

.part10 {
  width: 90%;
 margin:auto;
  box-shadow: 10px 10px 10px #888888;
  text-align: center;
  height:20vh;
  margin-bottom:5%;
}

.part10 h1{
  font-size:2.5rem;
  padding-bottom:20px;
}
.part10 p{
  font-size:1.5rem;
}


/* .small-line{
  height:4%;
  background-color:#14b6d3;
 justify-content: center;
  width:4%
} */

.part11{
display: grid;
grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
grid-gap:20px;
width:90%;
height:40vh;
margin:auto;
margin-bottom:5%;
}

.img1{
  width:100%;
  background-image:url('./utilities/surgeon.jpg');
  background-size: cover;
  box-shadow: 10px 10px 10px #888888;
  position: relative;
}
.img2{
  width:100%;
  background-image:url('./utilities/dentist6.jpg');
  background-size: cover;
  box-shadow: 10px 10px 10px #888888;
  position: relative;
}
.img3{
  width:100%;
  background-image:url('./utilities/family2.jpg');
  background-size: cover;
  box-shadow: 10px 10px 10px #888888;
  position: relative;
}

.info1,.info2,.info3{display:flex;
position: absolute;
bottom:0;
align-items: center;
background-color:white;
width:80%;
margin-left:10%;
vertical-align: bottom;
box-shadow: 10px 10px 10px #888888;
}
.info1 h4,.info2 h4,.info3 h4{
  padding:10px 0 0 10px;
  text-align: left;
}
.info1 h5,.info2 h5,.info3 h5{
 margin:5px 0 5px 10px;
 text-align: center;
  background-color: #f79e02;
  color:white;
}

footer{
  display:grid;
  grid-gap:20px;
  grid-template-areas: "part1 part2 part3 part4";
  grid-template-columns: 1fr 1.5fr 0.75fr 1.25fr;
  grid-template-rows: repeat(2,1fr);
  height:60vh;
  width:90%;
  margin:auto;
  background-color:rgb(36, 29, 83);
}
.endnote{
  color:white;
  padding:5% 0 0 15%;
  height:100%;
}
.recent-posts{
  color:white;
  padding:10px 0 0 15px;
}
.recent-posts img{
 width:20%;
 padding:20px 20px 0 40px;
}

.recent1,.recent2{display:flex;
justify-content: space-between;
width:100%;}

.recent1,.recent2 h5{
 margin-left:5%;
}


.end{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  color:white;
  justify-content: space-between;
}


@media screen and (max-width: 1000px) {
  .part1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .part1 img {
    width: 100%;
    height: 40%;
  }
  .part2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .part3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .video {
    width: 100%;
  }
}
